<div class="d-flex justify-content-center align-items-center w-100 h-100">
    <div class="login bg-dark text-light d-flex flex-column justify-content-center align-items-center">
        <div class="flex-nowrap">
            <h1>CLASSE ONLINE</h1>
        </div>
        <hr class="mb-5">
        <form [formGroup]="formLogin" class="d-flex flex-column justify-content-center w-75" (ngSubmit)="login()">
            <div class="form-group mb-3">
                <input formControlName="usuario"  type="text" class="form-control" id="usuario" placeholder="Usuário">
            </div>
            <div class="form-group mb-3">
                <input formControlName="senha" type="password" class="form-control" id="senha" placeholder="Senha">
            </div>
            <button type="submit" class="btn btn-primary w-50 align-self-center mb-3">Entrar</button>
        </form>
        <div *ngIf="usuarioInvalido">
            <ngb-alert [type]="'danger'" [dismissible]="false" class="text-center">
                <strong>Erro!</strong> Usuário ou senha inválidos.
            </ngb-alert>
        </div>

        <!-- Implementação futura - d-flex -->
        <div class="d-none justify-content-between mt-3">
            <a href="#">Esqueceu sua senha? </a>
            <a href="#">Registrar-se</a>
        </div>
    </div>
</div>
